In [2]:
import mysql.connector
import pandas as pd

In [3]:
USER='ds3002'
HOST='ds3002-rds.cqee4iwdcaph.us-east-1.rds.amazonaws.com'
PASS='xAEhKYD!FbPvTyPA'

In [4]:
connection = mysql.connector.connect(host = HOST, user = USER, password = PASS, db = 'ds3002')

In [5]:
connection

In [6]:
describe = pd.read_sql_query('DESCRIBE tracking', connection)

In [7]:
describe

        Field             Type Null           Key Default Extra
0          id   b'varchar(40)'   NO  [80, 82, 73]    None
1     telem_1  b'decimal(5,4)'  YES            []    None
2     telem_2  b'decimal(5,4)'  YES            []    None
3   longitude   b'varchar(50)'  YES            []    None
4    latitude   b'varchar(50)'  YES            []    None
5  created_on      b'datetime'  YES            []    None

In [19]:
feb = pd.read_sql_query('SELECT id,telem_1,telem_2 FROM tracking WHERE telem_1 > 0.8 AND created_on LIKE "2020-03-%" ORDER BY telem_2 DESC', connection)

In [20]:
feb

                                      id  telem_1  telem_2
0   5f644ae0-4075-4b9b-b7dd-cfd5f08aa1f1   0.9576   0.9342
1   858d31d4-8a68-44b4-abc7-3fbb325a7370   0.9088   0.8951
2   fbdbe82c-f1e6-42c4-92ce-c58c15e251a9   0.8602   0.8660
3   507f7bb7-f17a-46b1-8953-049f6688141a   0.8085   0.7673
4   9028efc6-8937-4b07-8882-940dcb3263a7   0.8720   0.7573
5   c4d96a75-00ed-4fbe-b9f1-761573b73598   0.9022   0.7178
6   477f7f1c-2844-4658-86b7-0cd544884598   0.8774   0.7036
7   33fb1c46-ceda-49cd-8c30-7726632041a5   0.9130   0.6335
8   7a830a1c-ca33-4017-943c-a24cc4007da6   0.8450   0.6108
9   dd24f7b2-4c98-41fb-9ac7-334981d4018b   0.9886   0.3689
10  80993910-3a41-4582-8724-7878689f9264   0.8413   0.3681
11  f88cc793-5a1a-423e-bc86-94c08f36bc3a   0.9257   0.3282
12  8db75b96-b05c-40af-a0ce-28785ea46307   0.9981   0.3131
13  1d2d0f0f-1e87-4420-a781-45893817c57f   0.9957   0.3103
14  38a026b1-5128-4ec6-baf2-32610da0635f   0.9843   0.2169
15  01d8e0d5-3946-4416-bb83-1ac6888e3d02   0.8169   0.1202
16  cad0d374-fc05-4438-b194-f2da66e40e38   0.9155   0.0344